<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801621675258-bd1c6lknbafbn983mqlm23psg8v9n1po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801621675258-bd1c6lknbafbn983mqlm23psg8v9n1po</string>
	<key>API_KEY</key>
	<string>AIzaSyC-VMh5APPYzGWunAv21hlL4_YFiTsCGIU</string>
	<key>GCM_SENDER_ID</key>
	<string>801621675258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akbala-astanait.edu.kz.LoginRegisterApp</string>
	<key>PROJECT_ID</key>
	<string>loginregisterapp-a1617</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregisterapp-a1617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801621675258:ios:f3c759d13dd54fa413cd43</string>
</dict>
</plist>